{% extends 'base.html' %}

{% block content %}
<div>
    <div style="text-align:center; max-width:700px; margin:4rem auto;">
        <img src="{{ target_project.image.url }}" alt="" style="width:auto; max-width:100%;">
        <div>
            <div>{{ target_project.title|truncatechars:7 }}</div>
            <div>{{ target_project.description }}</div>
            <br><br>
            {{ target_user }}
        </div>
    </div>
    
    <div class="text-center">
        {% if user.is_authenticated %}

        {% if not subscription %}

        <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}" class="btn btn-primary rounded-pill px-4">
            Subscribe
        </a>
        {% else %}
        <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}" class="btn btn-dark rounded-pill px-4">
            Un Subscribe
        </a>
        {% endif %}
        {% endif %}
    </div>
    <hr>
    {% include 'scippets/list_fragment.html' with article_list=object_list %}
</div>
{% endblock %}